.col-12 > h1 {
  font-weight: bold;
  text-align: center;
  color:orange;
}
/* 카드 섹션 */
.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translate(-1px);
}

.page-link span {
  color: #ff8000;
}

.my.page-item.active .page-link {
  z-index: 3;
  color: #ffffff;
  border-color: #ff8000;
  background-color: #ff8000;
}

.my.page-item .page-link {
  z-index: 3;
  color: #ff8000;
}

.my.btn-primary {
  background-color: #ffa500;
  border-color: #ffa500;
}

.my.btn-primary:hover {
  background-color: #ff8000;
  border-color: #ff8000;
}

.container {
  margin-top: 100px;
}

.text-muted text-center mb-3 {
  color: #ff8000;
}
